.portfolio-body {
  color: #212121;
  background-color: #ffffff;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-style: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  align: Left;
  vertical-align: Top;
}
.part-of-logo {
  color: #2196f3;
}
.list {
  list-style: none;
}
.examples-button:hover,
.examples-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.examples-button {
  font-style: medium;
  font-size: 16px;
  line-height: 1.6;
  line-height: 139%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.lorem {
  color: #ffffff;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.55;
  line-height: 133%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}
.porfolio-links {
  text-decoration: none;
}
.porfolio-title {
  color: #212121;
  font-style: Bold;
  font-size: 18px;
  line-height: 2;
  line-height: 171%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 6%;
}
.porfolio-type {
  font-style: Regular;
  font-style: 16px;
  line-height: 1.2;
  line-height: 160%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
  color: #757575;
}

.main-body,
.portfolio-body {
  font-family: Roboto, sans-serif;
}
.site-nav-link {
  text-decoration: none;
  color: #212121;
  font-family: Roboto;
  font-style: medium;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 2%;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: #2196f3;
}
.site-nav-link.current {
  color: #2196f3;
}
.contacts-link {
  text-decoration: none;
  color: #757575;
  font-style: Medium;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 2%;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.section-title {
  color: #212121;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.17;
  line-height: 100%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.hero-title {
  font-style: Black;
  font-size: 44px;
  line-height: 1.36;
  line-height: 116%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 6%;
}
.advantages {
  color: #212121;
  font-style: Bold;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}
.variants {
  font-style: Bold;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.button {
  background-color: #2196f3;
  font-style: Bold;
  font-size: 16px;
  line-height: 1.9;
  line-height: 160%;
  align: Center;
  vertical-align: Center;
  letter-spacing: 6%;
}
.descriptions {
  font-style: Regular;
  font-size: 14px;
  line-height: 1.7;
  line-height: 146%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}

.names {
  color: #212121;
  font-style: Medium;
  font-size: 16px;
  line-height: 1.2;
  line-height: 100%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.jobs {
  font-style: Regular;
  font-size: 16px;
  line-height: 1.2;
  line-height: 100%;
  align: Center;
  vertical-align: Top;
  letter-spacing: 3%;
}
.adress,
.join-us,
.button,
.variants,
.hero-title {
  color: #ffffff;
}
.join-us {
  font-style: Bold;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  letter-spacing: 3%;
}
